# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
# .vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# Flutter generate
*.gen.dart
*.g.dart

# Android
/android/.gradle/
/android/build/
/android/captures/
/android/key.properties
/android/*.keystore
/android/gradlew
/android/gradlew.bat
/android/local.properties
/android/**/GeneratedPluginRegistrant.java
/android/**/GeneratedPluginRegistrant.kt

# macOS
/macos/Pods/
/macos/.symlinks/
/macos/Flutter/ephemeral/
/macos/Flutter/GeneratedPluginRegistrant.swift
/macos/Flutter/ephemeral/

# Web
/web/favicon.png

# IDE
*.iml
.idea/
.vscode/

# Environment
.env
.env.*

# APK / Build outputs
*.apk
*.aab
*.ipa
*.app
